html {
  scroll-behavior: smooth;
}

:root {
  --bg: #0f172a;
  --text: #e5e7eb;
  --accent: #b880c9;
  --card: #4f6891;
  --section: #1c2947;
  --button: #df71be;
}

[data-theme="light"] {
  --bg: #f5ecec;
  --text: #3f152c;
  --card: #e9dff5;
  --section: #e2cccc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  background: var(--bg);
  color: var(--text);
  line-height: 1.6;
}
a {
  color: inherit;
  text-decoration: none;
}
h1 {
  font-size: 3.5rem;
}

h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

/* HEADER */
header {
  position: sticky;
  top: 0;
  background: transparent;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-radius: 50px;
  backdrop-filter: blur(8px);
  z-index: 100;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.avatar-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* NAVIGATION LINKS */
nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 1.1rem;
  margin-left: 10px;
}

.nav-link {
  opacity: 0.7;
  transition:
    color 0.3s ease,
    opacity 0.3s ease;
}

nav a:hover,
nav a.active,
a.visited {
  opacity: 1;
  color: var(--text);
}

nav a:hover::after,
nav a.active::after {
  opacity: 1;
  color: var(--accent);
}

.resume-btn {
  background: var(--button);
  border-radius: 35px;
  color: white;
  font-size: 0.9rem;
  padding: 10px 20px;
}

.resume-btn:hover {
  background: var(--button);
  transform: scale(1.05);
}

/* Settings dropdown */
.settings {
  position: relative;
}

.settings-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text);
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  gap: 6px;
}

.settings-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background: rgb(165, 165, 216);
  flex-direction: column;
  width: 50px;
  padding: 1rem;
  border-radius: 12px;
  gap: 1rem;
  display: none;
}
.settings-dropdown a i {
  text-align: center;
}
.settings-dropdown a:hover {
  border-radius: 6px;
  color: var(--bg);
}
.settings-dropdown.show {
  display: flex;
}

/* Hamburger menu */
.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: var(--white);
}

/* Responsive: small screens */
@media (max-width: 800px) {
  .nav-links {
    position: absolute;
    top: 100%;
    right: 0;
    background: rgb(173, 173, 218);
    flex-direction: column;
    align-items: flex-start;
    width: 120px;
    padding: 1rem;
    border-radius: 12px;
    gap: 1rem;
    display: none;
    color: whitesmoke;
  }
  .nav-links :hover {
    color: white;
  }

  .nav-links.show {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}

/* HERO */
.hero {
  background-color: var(--section);
  padding: 4rem 2rem;
}

.hero-greeting {
  text-align: center;
  margin-bottom: 0.5rem;
}

.hero-greeting i {
  font-size: 3rem;
  color: var(--button);
  margin: 0 auto;

  animation: bounce 1.5s infinite;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
.hero-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3rem;
}

.hero-left {
  flex: 1;
}

.hero-right {
  flex: 1;
  text-align: center;
}
.hero-right img {
  max-width: 80%;
  border-radius: 50%;
}
.buttons a {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  background: var(--accent);
  border-radius: 8px;
  transition:
    background 0.3s ease,
    transform 0.2s ease;
}
.buttons a:hover {
  background: #d94de0;
  transform: scale(1.05);
}
/* Social icons */
.social-icon-container {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
}

.social-icon {
  font-size: 1.3rem;
  color: var(--accent);
  text-align: left;
  justify-content: flex-start;
}
#typed-text {
  display: inline-block;
  user-select: none;
  pointer-events: none;
  color: #6059e2;
}
#typed-text::after {
  content: "_";
  font-weight: bold;
  animation: blink 0.7s step-start infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .hero-right {
    order: -1;
  }
  .hero-left {
    text-align: center;
  }

  .hero-right img {
    max-width: 300px;
    border-radius: 50%;
  }
}

/* ABOUT SECTION */
.about {
  padding: 4rem 2rem;
  text-align: center;
}

.about-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.about-left {
  flex: 1;
  gap: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.about-right {
  flex: 1;
  gap: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.career-item {
  background: var(--card);
  padding: 1.5rem 2rem;
  margin: auto;
  border-radius: 12px;
  transition: scale 0.3s ease;
}
.career-item:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    align-items: center;
  }
  .about-right {
    order: -1;
    text-align: center;
  }
  .about-left {
    text-align: center;
  }
}

/* SKILLS */

.skills-section {
  position: relative;
  padding: 4rem 2rem;
  text-align: center;
  background-color: var(--section);
  overflow: hidden;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
  margin-top: 2rem;
  position: relative;
  z-index: 1;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  font-size: 5rem;
  color: var(--accent);
  cursor: pointer;
  transition:
    transform 0.3s ease,
    color 0.3s ease;
}

.skill-item span {
  font-size: 1.5rem;
  color: var(--text);
  transition: color 0.3s ease;
}

.skill-item:hover {
  color: var(--text);
  transform: scale(1.3) rotate(-5deg);
}

/* React spins faster */
.fa-react {
  animation: spin 5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Canvas for particle/galaxy effect */
#skills-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

/* PROJECTS */
.projects-section {
  display: block;
  gap: 2rem;
  margin: 10px auto;
  padding: 4rem 2rem;
}
.projects-section h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.project-card {
  background: var(--card);
  padding: 2rem;
  border-radius: 16px;
  margin: 20px auto;
  display: block;
}
.project-image {
  flex: 1;
  width: 100%;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.tech-tag {
  display: inline-block;
  background: var(--accent);
  padding: 0.3rem 0.6rem;
  border-radius: 6px;
  margin: 0.2rem;
  font-size: 0.8rem;
}

.project-desc-more {
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.5s ease,
    opacity 0.5s ease;
  opacity: 0;
  margin-top: 1rem;
}

.project-card.expanded .project-desc-more {
  max-height: 10000px;
  opacity: 1;
}

.project-card:hover {
  transform: scale(1.02);
  transition: 0.3s ease;
  cursor: pointer;
}
.gallery {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.gallery img {
  width: 100px;
  border-radius: 8px;
  transition: transform 0.3s ease;
}
.gallery img:hover {
  transform: scale(1.2) rotate(5deg);
}

.project-desc-more a {
  background: var(--accent);
  color: var(--bg);
  font-weight: bold;
  border: 2px solid var(--accent);
  border-radius: 4px;
  padding: 0.1rem 0.4rem;
  margin-bottom: 3px;
}
.project-desc-more a:hover {
  color: var(--accent);
  background: transparent;
  transition: 0.3s ease;
}

/* CERTIFICATES */
.certificates {
  padding: 4rem 2rem;
  text-align: center;
  background-color: var(--section);
  gap: 2rem;
}

.certificates h2 {
  text-align: center;
}

.certificates-items {
  display: inline-block;
  justify-content: center;
}

.certificates-image {
  width: 400px;
  height: 400px;
  max-width: 90%;
  border-radius: 12px;
  cursor: pointer;
  transition:
    transform 0.4s ease,
    box-shadow 0.4s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.certificates-image:hover {
  transform: scale(1.05) rotate(-1deg);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

/* Responsive */
@media (max-width: 768px) {
  .certificates-header {
    flex-direction: column;
    gap: 1rem;
  }

  .certificates-image {
    width: 80%;
  }
}

/* CONTACT */
.contact {
  padding: 4rem 2rem;
  gap: 2rem;
}
.contact h2 {
  text-align: center;
  margin-bottom: 2rem;
}
.contact-flex {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 60px;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  flex-wrap: wrap;
}

.contact-text {
  display: flex;
  flex: 1 1 350px;
  font-family: "Pacifico", cursive;
  font-size: 3.5rem;
  color: #c583c5;
  margin: 0;
  padding-top: 10px;
}

#contactForm {
  flex: 2 1 400px;
}

#contactForm p {
  margin: 12px 0 6px;
  font-weight: 500;
  text-align: left;
  color: var(--text);
}

#contactForm input,
#contactForm textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #da80e2;
  border-radius: 8px;
  background-color: transparent;
  color: var(--text);
  font-size: 1rem;
  font-family: "Inter", sans-serif;
}

.buttons-email {
  padding: 12px 24px;
  background: var(--button);
  color: var(--text);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
  display: block;
  margin-top: 10px;
}

.buttons-email:hover {
  background: #d94de0;
}

.skills a {
  align-items: center;
}

.social-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.social-icon {
  color: rgb(226, 152, 255);
  font-size: 28px;
  transition:
    color 0.3s ease,
    transform 0.3s ease;
}

.social-icon:hover {
  color: #ff67d1;
  transform: scale(1.2);
}

/* FOOTER */
footer {
  text-align: center;
  padding: 30px;
  background: #11001e;
  color: #aaa;
}
